[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
isort = "*"
pylint = "*"
autopep8 = "*"
rope = "*"
yapf = "*"

[requires]
python_version = "3.6"

[scripts]
diagram = "tools/update_diagram.sh"
vendor = "tools/update_vendor.sh"